<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="my-4" style="height: auto;position: relative">
                <app-card-open [columnsH]="dataTable" [listado]="listado" class="my-2" [Status]="'yellow'"></app-card-open>
            </div>

            <div class="my-4" style="height: auto;position: relative">
                <app-card-open [columnsH]="dataTable" [listado]="listado" class="my-2" [Status]="'red'"></app-card-open>
            </div>

            <div class="my-4" style="height: auto;position: relative">
                <app-card-open [columnsH]="dataTable" [listado]="listado" class="my-2" [Status]="'red'"></app-card-open>
            </div>

            <div class="my-4" style="height: auto;position: relative">
                <app-card-open [columnsH]="dataTable" [listado]="listado" class="my-2" [Status]="'blue'"></app-card-open>
            </div>

            <div class="my-4" style="height: auto;position: relative">
                <app-card-open [columnsH]="dataTable" [listado]="listado" class="my-2" [Status]="'red'"></app-card-open>
            </div>
        </div>
    </div>
</div>