<div class="container">
    <div class="row">
        <div class="col-12 mt-5">

            <div class="my-4" style="height: auto;position: relative">
                <app-card-open [columnsH]="dataTable" [listado]="listado" class="my-2" [Status]="'green'" [Codigo]="'Chino xs'" [Cliente]="'Ari puto'" [ClienteInfo]="'Hola :D'" [Unidad]="'UX'" [Fiscal]="'LP'" [Periodo]="'ENE - MAY'" [Integrantes]="'3'" [Pais]="'ARG'"></app-card-open>
            </div>
            <div class="my-4" style="height: auto;position: relative">

                <app-card-open [listado]="listado" class="my-2" [Status]="'red'" [Codigo]="'Chino xs'" [Cliente]="'Ari puto'" [ClienteInfo]="'Hola :D'" [Unidad]="'UX'" [Fiscal]="'LP'" [Periodo]="'ENE - MAY'" [Integrantes]="'3'" [Pais]="'ARG'"></app-card-open>
            </div>
            <div class="my-4">
                <app-card-open [listado]="listado" class="my-2" [Status]="'red'" [Codigo]="'Chino xs'" [Cliente]="'Ari puto'" [ClienteInfo]="'Hola :D'" [Unidad]="'UX'" [Fiscal]="'LP'" [Periodo]="'ENE - MAY'" [Integrantes]="'3'" [Pais]="'ARG'"></app-card-open>
            </div>
            <div class="my-4">
                <app-card-open [listado]="listado" class="my-2" [Status]="'violet'" [Codigo]="'Chino xs'" [Cliente]="'Ari puto'" [ClienteInfo]="'Hola :D'" [Unidad]="'UX'" [Fiscal]="'LP'" [Periodo]="'ENE - MAY'" [Integrantes]="'3'" [Pais]="'ARG'"></app-card-open>
            </div>


        </div>
    </div>
</div>