<div [style.height]="isOpened ? '90px':calculateHeight()">

    <div class="card_data">
        <!-- Status Card -->
        <div class="status" [style.background-color]="Status"></div>

        <!-- Unidad -->
        <div class="" *ngFor="let x of columnsH; let i = index" [ngClass]="(i === 0)?'title_info':'unidad_info'">

            <!-- Solo primer elemento -->
            <p class="text_header" *ngIf="i===0"><small>Proyecto <b>{{x.extraInfo}}</b></small></p>

            <!-- Solo primer elemento -->
            <p *ngIf="i===0" class="title_h"> {{x.title}} </p>

            <!-- Solo primer elemento -->
            <p *ngIf="i===0" class="title_info_data_primary">{{x.data}}</p>

            <!-- Despues del primer elemento -->
            <p *ngIf="i!==0" class="text_header"><small>{{x.title}}</small></p>

            <!-- Despues del primer elemento -->
            <p *ngIf="i!==0" class="title_info_data_primary">{{x.data}}</p>

        </div>

        <!-- Call to action -->
        <div class="call_to_action">
            <button>Ver feedback</button>
        </div>

        <!-- Open Card -->
        <div class="open_card">
            <button (click)="statusCard()"><i class="material-icons">expand_more</i></button>
        </div>
    </div>

    <app-info-card [listado]="listado" [status]="status"></app-info-card>
</div>